openpyxl
langchain >= 1.0.0
langchain_community
langchain-ollama
langchain-google-genai >= 2.0.0
langchain_experimental
langgraph >= 1.0.0
google-generativeai
python-dotenv
pandas
sqlalchemy
numpy
plotly
streamlit
scikit-learn
xgboost
psutil
streamlit-flow-component
